<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Sacramento Homeless Services</title>
</head>

<body>

    <div class="jumbotron text-center">
      <h1 class="jumbo-title"><strong>Sacramento Homeless Services Dashboard</strong></h1>
      <p></p>

      <div class="row">

        <div class = "col-md-12"><p id="intro">
        Homelessness poses a major challenge to Sacramento, California. In an effort to better understand the issue, 
        this dashboard was developed to help the community visualize the volume of homeless-related services, 
        how many people find permanent housing through these programs, and the demographics of those who use the services.
        The data comes from Sacramento's <strong style="color: #a6c96a"> Homeless Management Information System (HMIS)</strong>, 
        which is used by local homeless service providers within Sacramento County to coordinate care, 
        manage their operations, and better serve those in need of homeless services (referred to in this dashboard as “clients”). 
        As of early 2020, the most recent public data is through August 2019.
        The raw data can be accessed at 
          <a href="https://github.com/code4sac/sacramento-county-homeless-hmis-data/tree/master/data">Code for Sacramento</a>.
          <br><br>
          HMIS data provides additional perspective to the more widely reported <strong style="color:#a6c96a">Point in Time (PIT) Count</strong>.
           The 2019 Sacramento Homeless PIT Count indicated that 5,570 persons experience homelessness on a given night, 
           an increase of 19% countywide compared to 2017. A count is held every two years and was last conducted over two nights in January
            2019 <a href="https://sacramentostepsforward.org/2019pitcount/">(Source)</a>. In contrast, HMIS provides more granular data over time and specific to those who receive services. 
            Note that not all who are homeless are represented in the HMIS data below, as not all seek or receive services, 
            and some services are designed to prevent homelessness.
        </p>
        </div> 
      </div>
    </div>

<br>

      <div class="container-fluid">

        <div class ="container-fluid">

          <div class="row" id ="section-row">
            <h5 class="section-title"><strong>PROGRAM VOLUME</strong></h5>
          </div>

          <div class = "col-md-2" > 
            <div class="well dropdown-programs">
              <h6>Select Program Type</h6>
            <select id="selDatasetVolume" onchange="optionChangedVolume(this.value)">
                <option id="selected">All</option>
              </select>
            </div>
          </div> 


          <div class="row" id='flow'>
              <div class="col-md-6 vert-space">
                <div id="yearly-bar-distinct">
                </div>
              </div>
              
               <!-- <div class="col-md-2" id="flow-card"> 
                <br>
                <div class="card"> -->
                    <!-- <div class="number-highlight" id="flow-row-card-header"> -->
                    <!-- <div class="number-highlight" id="pit-header"> -->
                      <!-- Featured -->
                      <!-- Point in Time Counts -->
                    <!-- </div> -->
                  
                    <!-- <ul class="list-group list-group-flush" id="flow-card-list"> -->
                    <!-- <ul class="list-group list-group-flush" id="pit-count">
                      The 2019 Sacramento Homeless Point in Time (PIT) Count indicated that 5,570 persons experience homelessness on a 
                      given night, an increase of 19% countywide compared to 2017. A count is held everyt two years and was last conducted over two 
                      nights in January 2019.  
                    </ul> -->
                    <!-- <img alt="Photo of homeless person on park bench by Frans Van Heerden" 
                    title="Photo of homeless person on park bench by Frans Van Heerden" 
                    src="https://images.pexels.com/photos/631304/pexels-photo-631304.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
                    style="width: 100%" > -->
                    <!-- per website, image is free for reuse and not attribution required -->
                  <!-- </div> -->
                  <!-- <br> -->
              <!-- </div> -->

            <div class="col-md-6 vert-space" >
              <div id="yearly-bar">  
              </div>
            </div>
          </div>
        </div>
 
        <div class ="container-fluid"> 
          <div class="row" id="section-row">
            <h5 class="section-title"><strong>PARTICIPANT OUTCOMES</strong></h5>
          </div>

          <div class="row" id='ph'>
            <div class="col-md-8 vert-space" id="years-bar">
              <div id = "container"></div>
            </div>
      <br>
            <div class="col-md-4 vert-space" id="percent-ph">
              <table class="table t-center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Average Days to Permanent Housing</th>
                    <th scope="col">Average % Who Exit to Permanent Housing</th>
                  </tr>
                </thead>
                <tbody id="append-me">
                </tbody>
              </table>
              
              <!-- <div class="card" id="middle-card">
                <div class="card-header" id="outcome-row-card-header-percent">BOo
                </div>
                <div class="number-highlight" id="percent-ph-text">
                </div>
              </div>
          <br>
              <div class="card" id="middle-card">
                <div class="card-header" id="outcome-row-card-header-avg">ya
                </div>
                <div class="number-highlight" id="avg-ph-text">
                </div>
              </div> -->
              
            </div>
          </div>
        </div>

        <div class ="container-fluid">

          <div class="row" id ="section-row">
            <h5 class="section-title"><strong>PARTICIPANT DEMOGRAPHICS</strong></h5>
          </div>
          
          <div class="row">

          <div class = "col-md-2 dropdown-programs2"> 
            <div class="well">
              <h6>Select year</h6>
            <select id="selDataset" onchange="optionChanged(this.value)">
                <option id="selected" selected="2018">Year</option>
              </select>
            </div>
            </div> 

            <div class = "col-md-2 dropdown-programs2"> 
              <div class="well">
                <h6>Select Program Type</h6>
              <select id="selDatasetDemo" onchange="optionChangedDemo(this.value)">
                  <option id="selected">All</option>
                </select>
              </div>
              </div>
          </div>

            <div class="row" id='demo'>
              <div class="col-md-3 vert-space" id="race"></div>
              <div class="col-md-3 vert-space" id="gender"></div>
              <div class="col-md-6 vert-space" id="age"></div>
            </div>
        <br>
          </div>
      </div> 

<div class="footer" id="footer">
  <br>
    <h6 id="footer">Code for Sacramento | 2020</h6><br>

  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
</body>
</html>
